# Heroes of Pymoli Data Analysis
The default styling for tables in the notebook has been updated [PR #1776](https://github.com/jupyter/notebook/pull/1776/)

In [3]:
import numpy as np
import pandas as pd
from collections import OrderedDict

df = pd.read_json('purchase_data.json')
pd.set_option('display.html.table_schema',True)

## Player Count

In [4]:
player_count = pd.DataFrame({'Total Players': [len(df['SN'].unique())]})
display(player_count)

   Total Players
0            573

## Purchasing Analysis (Total)

In [5]:
number_of_unique_items = len(df['Item ID'].unique())
average_purchase_price = df['Price'].mean()
total_number_of_purchases = len(df)
total_revenue = df['Price'].sum()
data = OrderedDict({'Number of Unique Items': [number_of_unique_items],
            'Average Price': [average_purchase_price],
            'Number of Purchases': [total_number_of_purchases],
            'Total Revenue': [total_revenue]})
purchasing_analysis = pd.DataFrame(data)
pd.options.display.float_format = '${:,.2f}'.format
display(purchasing_analysis)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $2.93                  780      $2,286.33

## Gender Demographics

In [6]:
unique_players = df.drop_duplicates(['SN'])
gender_count = unique_players['Gender'].value_counts()
gender_percent = 100.0 * gender_count / gender_count.sum()
data = OrderedDict({'Percentage of Players': gender_percent,
                   'Total Count': gender_count})
gender_demographics = pd.DataFrame(data)
pd.options.display.float_format = '{:,.2f}'.format
display(gender_demographics)

                       Percentage of Players  Total Count
Male                                   81.15          465
Female                                 17.45          100
Other / Non-Disclosed                   1.40            8

## Purchasing Analysis (Gender)

In [7]:
grouped = df.groupby('Gender')
data = OrderedDict({'Purchase Count': grouped.size(),
                   'Average Purchase Price': grouped['Price'].mean(),
                   'Total Purchase Value': grouped['Price'].sum(),
                   'Normalized Totals': grouped['Price'].sum() / gender_count})
purchasing_analysis = pd.DataFrame(data)
pd.options.display.float_format = '${:,.2f}'.format
display(purchasing_analysis)

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,136,$2.82,$382.91,$3.83
Male,633,$2.95,"$1,867.68",$4.02
Other / Non-Disclosed,11,$3.25,$35.74,$4.47

## Age Demographics

In [11]:
l = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
ages = [0,10,15,20,25,30,35,40,999]

#For some reason the code below doesn't return the labels.  Could you explain what's wrong with it please?
bins = pd.IntervalIndex.from_breaks(ages, closed = 'left')
df['Age Range'] = pd.cut(df['Age'], bins, labels = l)

#This line works fine though
df['Age Range'] = pd.cut(df['Age'], ages, right = False, labels = l)

unique_players = df.drop_duplicates(['SN'])
age_count = unique_players['Age Range'].value_counts().sort_index()
age_percent = 100.0 * age_count / age_count.sum()
data = OrderedDict({'Percentage of Players': age_percent,
                   'Total Count': age_count})
age_demographics = pd.DataFrame(data)
pd.options.display.float_format = '{:,.2f}'.format
display(age_demographics)

       Percentage of Players  Total Count
<10                     3.32           19
10-14                   4.01           23
15-19                  17.45          100
20-24                  45.20          259
25-29                  15.18           87
30-34                   8.20           47
35-39                   4.71           27
40+                     1.92           11

## Purchasing Analysis (Age)

In [171]:
grouped = df.groupby('Age Range')
data = OrderedDict({'Purchase Count': grouped.size(),
                   'Average Purchase Price': grouped['Price'].mean(),
                   'Total Purchase Value': grouped['Price'].sum(),
                   'Normalized Totals': grouped['Price'].sum() / age_count})
purchasing_analysis = pd.DataFrame(data)
pd.options.display.float_format = '${:,.2f}'.format
display(purchasing_analysis)

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Range,,,,
<10,28,$2.98,$83.46,$4.39
10-14,35,$2.77,$96.95,$4.22
15-19,133,$2.91,$386.42,$3.86
20-24,336,$2.91,$978.77,$3.78
25-29,125,$2.96,$370.33,$4.26
30-34,64,$3.08,$197.25,$4.20
35-39,42,$2.84,$119.40,$4.42
40+,17,$3.16,$53.75,$4.89

## Top Spenders

In [179]:
grouped = df.groupby('SN')
data = OrderedDict({'Purchase Count': grouped.size(),
                   'Average Purchase Price': grouped['Price'].mean(),
                   'Total Purchase Value': grouped['Price'].sum()})
top_spender_analysis = pd.DataFrame(data).sort_values(by = 'Total Purchase Value', ascending = False)
pd.options.display.float_format = '${:,.2f}'.format
display(top_spender_analysis.head())

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Undirrala66               5                   $3.41                $17.06
Saedue76                  4                   $3.39                $13.56
Mindimnya67               4                   $3.18                $12.74
Haellysu29                3                   $4.24                $12.73
Eoda93                    3                   $3.86                $11.58

## Most Popular Items
Trying to include the Item ID in this table causes problems because some Item Names have more than one Item ID.  Is there a correct way to deal with this situation?

In [26]:
grouped = df.groupby(['Item Name'])
data = OrderedDict({'Purchase Count': grouped.size(),
                   'Item Price': grouped['Price'].mean(),
                   'Total Purchase Value': grouped['Price'].sum()})
popular_item_analysis = pd.DataFrame(data).sort_values(by = 'Purchase Count', ascending = False)
pd.options.display.float_format = '${:,.2f}'.format
display(popular_item_analysis.head())

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,14,$2.76,$38.60
Arcane Gem,11,$2.23,$24.53
"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
Stormcaller,10,$3.46,$34.65
Woeful Adamantite Claymore,9,$1.24,$11.16

## Most Profitable Items
Trying to include the Item ID in this table causes problems because some Item Names have more than one Item ID. Is there a correct way to deal with this situation?

In [28]:
grouped = df.groupby(['Item Name'])
data = OrderedDict({'Purchase Count': grouped.size(),
                   'Item Price': grouped['Price'].mean(),
                   'Total Purchase Value': grouped['Price'].sum()})
profitable_item_analysis = pd.DataFrame(data).sort_values(by = 'Total Purchase Value', ascending = False)
pd.options.display.float_format = '${:,.2f}'.format
display(profitable_item_analysis.head())

                            Purchase Count  Item Price  Total Purchase Value
Item Name
Final Critic                            14       $2.76                $38.60
Retribution Axe                          9       $4.14                $37.26
Stormcaller                             10       $3.46                $34.65
Spectral Diamond Doomblade               7       $4.25                $29.75
Orenmir                                  6       $4.95                $29.70